-----BEGIN CERTIFICATE-----
MIIEqDCCA5CgAwIBAgIUaaDwjP4p8pCkt/6FVpUeCq5KfzYwDQYJKoZIhvcNAQEL
BQAwgYsxCzAJBgNVBAYTAlVTMRkwFwYDVQQKExBDbG91ZEZsYXJlLCBJbmMuMTQw
MgYDVQQLEytDbG91ZEZsYXJlIE9yaWdpbiBTU0wgQ2VydGlmaWNhdGUgQXV0aG9y
aXR5MRYwFAYDVQQHEw1TYW4gRnJhbmNpc2NvMRMwEQYDVQQIEwpDYWxpZm9ybmlh
MB4XDTI2MDMwODE4MDgwMFoXDTQxMDMwNDE4MDgwMFowYjEZMBcGA1UEChMQQ2xv
dWRGbGFyZSwgSW5jLjEdMBsGA1UECxMUQ2xvdWRGbGFyZSBPcmlnaW4gQ0ExJjAk
BgNVBAMTHUNsb3VkRmxhcmUgT3JpZ2luIENlcnRpZmljYXRlMIIBIjANBgkqhkiG
9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnjhPlb0NoluCVVxuYpyaCHJrxeUn0azUh0jx
tOjSp7mFquX4KzNopjM+Yx0wQRGzjy70dMrOCuhiATjYO7AA8Ri8vNSyv6xoeX1U
gsQtzdzm0yqgWvndNgpaZ+544PuuwraNSBzNEXMbJAIZNUJpCVCEErlMsWxnOSym
rtwyLbZ56mHm1FLh3u55H13kToHaObWcP3YN+r1BmjxjyxDncB5M7/qh0t+T5T6R
wToruzIUjjpcQU4bq2Q/PkoEaWk5CRW06Hgew8W/lzR4SrLoW/0gEnXwhF3I0yld
pfwGafMdT4tq90uPQbKYskbKZglNOkr+K0bqv21JM9x7DeZxjwIDAQABo4IBKjCC
ASYwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcD
ATAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBQF2FdU6j9DOVSM8GKbNLXMfdkzbDAf
BgNVHSMEGDAWgBQk6FNXXXw0QIep65TbuuEWePwppDBABggrBgEFBQcBAQQ0MDIw
MAYIKwYBBQUHMAGGJGh0dHA6Ly9vY3NwLmNsb3VkZmxhcmUuY29tL29yaWdpbl9j
YTArBgNVHREEJDAighAqLmJheWFib3RlY2guY29tgg5iYXlhYm90ZWNoLmNvbTA4
BgNVHR8EMTAvMC2gK6AphidodHRwOi8vY3JsLmNsb3VkZmxhcmUuY29tL29yaWdp
bl9jYS5jcmwwDQYJKoZIhvcNAQELBQADggEBAGAmgq+8t9Yhy1bX6V0OphwHCI6W
2bwtF+f+VFW3Wp+UlmT37QMx+dPxXcfH8OgS/iGBrNbT5/nvrWfrgoWeFB/ecfIa
GFs0JglJByOYNYCJ8K1WId1I/zcMr7hPJHogsmiDoCNIct8ugwhrqXFTxNzQBWBg
JQ3eXZGk1VEIwDG0ALex3UpnPMpXui84tDA3uUk+bt0zwvPVunHlwEyXLxeOQAQM
gZamuyFXuIDN8i4n6YlrWArIMA9hTm8/JJdcO9S+wJ2tkvmKnoAbUvae8KBKqCSL
nbkyBybQbPcm9Sw9v6GRAWXZUWBauTEEFuUwRWKCPmxR9TU3IWMvHRI6NX0=
-----END CERTIFICATE-----
